<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment: Dojo Survey</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/survey_styles.css') }}">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Assignment: Dojo Survey</h1>
      </div>
      <div class="container">
        <div class="row">
          <form class="form" action="/result" method="post">
            <div class="form-group row">
              Your Name:
              <input class="form-control" type="text" name="name" value="">
            </div>
            <div class="form-group row">
              Dojo Location:
                <select class="custom-select" name="location">
                  <option value="dc" selected>Washington - DC</option>
                  <option value="chicago">Chicago</option>
                  <option value="seattle">Seattle</option>
                  <option value="austin">Austin</option>
                </select>
            </div>
            <div class="form-group row">
              Favorite Language:
                <select class="custom-select" name="fav">
                  <option value="dc" selected>Python </option>
                  <option value="seattle">JavaScript</option>
                  <option value="ios" selected>iOS</option>
                  <option value="htmlcss">HTML / CSS</option>
                </select>
            </div>
              <div class="form-group row">
                Comment (optional):
                <input class="form-control" type="textarea" name="comments" value="">
              </div>
              <div class="form-group row">
                <button type="button" class="btn btn-warning"  name="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
