<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment: Dojo Survey</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename="css/styles.css") }}">
  </head>
  <body>
    <div class="wrapper">
      <div class="header">
        <h1>Assignment: Dojo Survey</h1>
      </div>
      <div class="container">
        <div class="row">
          <form class="form" action="/result" method="post">
            Your Name:
            <input type="text" name="name" value="">
            Dojo Location:
              <select name="location">
                <option value="dc" selected>Washington - DC</option>
                <option value="chicago">Chicago</option>
                <option value="seattle">Seattle</option>
                <option value="austin">Austin</option>
              </select>
            Favorite Language:
              <select name="fav">
                <option value="dc" selected>Python </option>
                <option value="seattle">JavaScript</option>
                <option value="ios" selected>iOS</option>
                <option value="htmlcss">HTML / CSS</option>
              </select>
            Comment (optional):
            <input type="textarea" name="comments" value="">
            <button type="submit" name="submit">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
